/* Variables */

:root {
    --black: #000000;
    --light-black: #333333;
    --light-blue: #81B3D2;
    --blue: #669EC0;
    --dark-blue: #5496BD;
    --vector-blue: #81B3D3;
    --light-brown: #766357;
    --brown: #604E43;
    --dark-brown: #503E33;
    --ultra-light-grey: #FFFFFF;
    --medium-light-grey: #EEEEEE;
    --light-grey: #F2F2F2;
    --grey: #EBEBEB;
    --icon-grey: #A9A9A9;
    --range-grey: #ABABAB;
    --border-grey: #A5A5A5;
    --dark-grey: #CACACA;
}


/* Global */

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: var(--black);
    text-transform: uppercase;
    background-color: var(--ultra-light-grey);
    background-position: top center;
}

.page-body {
    width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*GRID*/

.main-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 217px 86px 1fr;
}

.form-consist {
    width: 1200px;
    height: 217px;
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    outline: 3px solid red;
}

.sorter {
    border-bottom: 1px solid #E5E5E5;
    width: 1200px;
    height: 86px;
    margin: 0 auto;
    padding: 0 0;
    display: grid;
    grid-template-columns: min-content min-content 1fr 80px;
}

.hotel-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.hotel-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.hotel {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 29px;
}

.main-footer {
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


/*FLEX*/

.site-navigation {
    display: flex;
    flex-wrap: wrap;
}

.form-consist fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    outline: 3px solid green;
}

.form-consist-infrastructure {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    outline: 3px solid yellow;
}

.form-consist-type {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    outline: 3px solid yellow;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.sorter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.hotel-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.hotel-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-social ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-copyright {
    display: flex;
}

.footer-contact p {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Main navigation */

.main-navigation {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    background-color: var(--ultra-light-grey);
    color: var(--black)
}

.site-navigation {
    margin: 0 auto;
    padding: 0 10px;
    list-style: none;
}

.site-navigation li {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.site-navigation li:nth-child(1) {
    margin-left: 72px;
}

.site-navigation li:nth-child(2) {
    margin-left: 134px;
}

.site-navigation li:nth-child(3) {
    margin-left: 418px;
}

.site-navigation li:nth-child(4) {
    margin-left: 147px;
    margin-right: 72px;
}


/* User navigation */

.site-navigation a {
    color: var(--black);
}

.site-navigation a:hover {
    color: var(--light-blue);
}

.site-navigation a:active {
    color: var(--black);
    opacity: 0.3;
}


/*header-logo*/

.main-header {
    position: relative;
    outline: 3 px dashed salmon;
}

.header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -69px;
}


/*Main content form*/

.form {
    background-image: url('../img/background-form.jpg');
    background-repeat: no-repeat;
    color: var(--ultra-light-grey);
    align-items: center;
    font-style: normal;
    outline: 3px solid purple;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form-consist fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.form-consist-infrastructure legend {
    display: block;
    padding-top: 26px;
    margin-left: 72px;
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.form-consist-infrastructure ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 21px;
    margin-left: 72px;
}

.form-consist-type legend {
    display: block;
    padding-top: 26px;
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.form-consist-type ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 21px;
}

.filter-option {
    margin-bottom: 25px;
}

.form label {
    font-weight: normal;
}

.filter-item-range {
    margin: 0;
    padding: 0;
    border: none;
}

.range-filter {
    width: 316px;
    margin-top: 20px;
    display: block;
}

.filter-item-range legend {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    margin-top: 11px;
}

.range-controls {
    margin-top: 20px;
    margin-bottom: 33px;
    position: relative;
}

.range-controls .scale {
    width: 316px;
    height: 2px;
    background-color: var(--ultra-light-grey);
    opacity: 0.3;
}

.range-controls .bar {
    width: 248px;
    height: 2px;
    background-color: var(--ultra-light-grey);
}

.range-controls .toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--ultra-light-grey);
    background-color: var(--range-grey);
    border-radius: 50%;
    box-shadow: 0 2px rgba(171, 171, 171, 0.3);
    cursor: pointer;
}

.range-controls .toggle-min {}

.range-controls .toggle-max {
    left: 248px;
}

.price-controls {
    border: 2px solid var(--ultra-light-grey);
    height: 36px;
    width: 317px;
    box-sizing: border-box;
}

.price-controls label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: right;
}

.price-controls input {
    font-family: inherit;
    font-size: inherit;
    background: transparent;
    color: var(--ultra-light-grey);
    text-align: center;
    border: none;
    width: 74px;
}

.white-line {
    width: 2px;
    height: 22px;
    background: var(--ultra-light-grey);
    margin-top: 4px;
}

.min-price-container,
.max-price-container {
    display: flex;
    justify-content: space-between;
}


/*Button-form*/

.button-search {
    width: 137px;
    height: 36px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    color: var(--ultra-light-grey);
    background: none;
}

.button-search:hover {
    background: var(--ultra-light-grey);
    color: var(--black);
}


/*Main-sorter*/

.filter-result-number {
    font-size: 21px;
    line-height: 26px;
    padding-left: 72px;
    padding-top: 8px;
}

.sorter-list {
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    padding: 0;
    margin: 0;
}

.sorter-type-choice {
    margin-left: 46px;
    margin-top: 32px;
}

.sorter-list li {
    display: block;
    margin-top: 32px;
}

.sorter-list li:nth-child(1) {
    margin-left: 40px;
}

.sorter-list li:nth-child(2) {
    margin-left: 32px;
}

.sorter-list li:nth-child(3) {
    margin-left: 33px;
}

.sorter-list a,
.sorter-list a:visited {
    color: var(--black);
    border-bottom: 1px dashed #81B3D2;
    opacity: 0.3;
}

.sorter-list a:hover {
    color: var(--light-blue);
}

.sorter-list a:active {
    color: var(--black);
    border-bottom: none;
}

.sorter-up {
    list-style: none;
}

.sorter-up a {
    display: inline-block;
    padding: 10px;
}

.arrowdown {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid var(--dark-grey);
}

.arrowup {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid var(--dark-grey);
}

.arrowdown:hover {
    border-top-color: var(--light-blue);
}

.arrowdown:active {
    border-top-color: var(--black);
}

.arrowup:hover {
    border-bottom-color: var(--light-blue);
}

.arrowup:active {
    border-bottom-color: var(--black);
}


/*Hotels-card*/

.hotel {
    border-bottom: 1px solid #E5E5E5;
}

.hotel-img {
    margin-top: 30px;
    margin-left: 72px;
}

.hotel h2 {
    font-size: 21px;
    line-height: 26px;
}

.hotel h2:hover {
    color: var(--light-blue);
}

.hotel h2:active {
    color: var(--black);
    opacity: 0.3;
}

.photo-hotel {
    width: 135px;
    height: 90px;
}

.type,
.price {
    font-weight: normal;
    color: var(--light-black);
}


/*Holet-card-button*/

.button-detail {
    width: 110px;
    height: 27px;
    background: var(--light-blue);
    color: var(--ultra-light-grey);
}

.button-detail:hover {
    background: var(--blue);
}

.button-detail:active {
    background: var(--dark-blue);
    opacity: 0.3;
}

.button-book {
    width: 142px;
    height: 27px;
    background: var(--light-brown);
    color: var(--ultra-light-grey);
}

.button-book:hover {
    background: var(--brown);
}

.button-book:active {
    background: var(--dark-brown);
    opacity: 0.3;
}


/*Hotel-card-rating*/

.stars {
    background: var(--ultra-light-grey);
    display: block;
}

.stars-2 {
    width: 42px;
    height: 17px;
    background-image: url('../img/star.svg');
    background-repeat: space;
}

.stars-3 {
    width: 66px;
    height: 17px;
    background-image: url('../img/star.svg');
    background-repeat: space;
}

.stars-4 {
    width: 90px;
    height: 17px;
    background-image: url('../img/star.svg');
    background-repeat: space;
}

.rating {
    width: 110px;
    height: 27px;
    background: var(--light-grey);
    font-weight: normal;
    color: #666666;
    display: block;
}

.hotel-rating {
    margin-right: 73px;
}


/*Footer*/

.page-footer {
    background: rgba(255, 255, 255, 0.9);
}

.footer-contact-phone {
    color: inherit;
}

.footer-contact {
    list-style: none;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--black);
}


/*Footer-social*/

.footer-social ul {
    list-style: none;
}

.social-button {
    display: inline-block;
    width: 46px;
    height: 48px;
    color: inherit;
    background-color: var(--light-blue);
}

.social-button.twitter {
    background-image: url('../img/twitter.svg');
    background-position: center center;
    background-repeat: no-repeat;
}

.social-button.facebook {
    background-image: url('../img/fb-icon.svg');
    background-position: center center;
    background-repeat: no-repeat;
}

.social-button.youtube {
    background-image: url('../img/youtube.svg');
    background-position: center center;
    background-repeat: no-repeat;
}

.social-button:hover {
    background-color: var(--blue);
}

.social-button:active {
    background-color: var(--dark-blue);
}


/*Footer-copyright*/

.footer-copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black)
}

.copyright-logo:hover {
    color: var(--light-blue);
}

.copyright-logo:active {
    color: var(--black) mix-blend-mode: normal;
    opacity: 0.3;
}